body {
  margin: 0;
  padding: 0;
  background-color: #01204c;
  font-family: 'Fredoka', 'Lato', 'Poppins', 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  display: inline;
  color: #000;
}

.home_body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.home_body body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(80deg, #84dcfc, #871587);
  clip-path: circle(30% at 95% 90%);
  z-index: -1;
}

.grid_container {
  max-width: 980px;
  margin: auto;
}

header {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  position: fixed;
  bottom: 20px;
}

header .header-icons-container .icons {
  display: flex;
  flex-direction: column;
}

header .icons a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  left: 10px;
  /* background-color: blue; */
  border: 1px solid #871587;
  border-radius: 20%;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(5px);
}

header .icons span {
  width: 50%;
  height: 50%;
  font-size: 1.5rem;
  color: #ff69b4;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70px;
  background-color: rgb(3, 0, 49);
  border-bottom: 1px solid #4fb0ff;
  border-radius: 0 0 10px 10px;
}

nav .nav-logo-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-size: 3rem;
  font-weight: 600;
}

nav .nav-logo-container i {
  color: white;
}

nav .nav-logo-container span {
  color: white;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .profile-link a {
  color: white;
  border-bottom: 1px solid white;
}

.index-main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.index-main .container {
  width: 85vw;
  height: 80vh;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

.index-main .container .content_main {
  color: white;
  text-align: center;
}

.content_main h2 {
  margin: 0 20px 0 20px;
}

.content_main a {
  display: flex;
  justify-content: center;
}
.content_main a p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  color: #000;
  font-weight: 600;
  background: linear-gradient(90deg, #ff4eff, #ff92ff);
  border-radius: 15px;
}


.logo_main {
  display: flex;
  justify-content: center;
}
.logo_main img {
  width: 450px;
}

/* Blogs */

.blogs-main {
  display: grid;
  margin: 20px 7px 0 75px;
}

.blogs-news-container {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  padding: 0 50px 40px;
}

.blogs-main-new {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}

.blogs-main-new h3 {
  color: rgb(214, 214, 214);
}

.blogs-news-img-container {
  grid-column: 1;
}

.blogs-news-img-container img {
  width: 85%;
  border-radius: 15px;
}

.blogs-news-info-container {
  grid-column: 2;
  color: rgb(214, 214, 214);
}

.blogs-news-info-container p {
  margin-bottom: 35px;
  
}

.blogs-post-container {
  padding: 0 50px 40px;
}

.blogs-post-container h3 {
  color: rgb(214, 214, 214);
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
}

.blogs_button {
  border: 1px solid #ff4eff;
  padding: 10px 15px;
  font-size: 12px;
  border-radius: 10px;
  color: #ffa1ff;
}

/* posts */
.blogs-post-container .post-container {
  display: inline-block;
  max-width: 30%;
  padding: 5px;
  margin: 0 0 50px 10px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  color: rgb(214, 214, 214);
}

.blogs-post-container .post-container p {
  margin-bottom: 35px;
}

.blogs-post-container .post-container img {
  width: 100%;
  border-radius: 15px;
}

.blogs-post-container .post-container .blogs_button {
  position: relative;
  bottom: 15px;
  left: 5px;
}



footer {
  width: 100%;
  height: 80px;
  text-align: center;
  color: white;
  background-color: #22272d;
  border-top: 20px solid #ff4eff;
}

.post_main_section {
  margin: 0 30px;
}

.blogpost-img-container {
  padding: 20px 65px 40px;
}

.blogpost-img-container img {
  width: 100%;
}

.blogpost-main-container {
  color: rgb(214, 214, 214);
  padding: 0 50px 40px;
}

.blogpost-main-container h3 {
  border-bottom: 1px solid rgb(214, 214, 214);
  padding-bottom: 20px;
}

.blogpost-main-container article h1 {
  font-size: 35px;
}

.contact-main-container {
  min-height: 200px;
  background-color: #cacaca;
  text-align: center;
  padding: 50px 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.contact-main-container div {
  width: 90%;
}

.container_contact_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_contact_section span {
  font-size: 70px;
  color: #ff4eff;
}

.container_contact_section div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_contact_section div a {
  border-bottom: 2px solid #ff4eff;
  border-radius: 5px;
  padding-bottom: 5px;
}

.contact-sect {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-sect p {
  width: 90%;
}

/* ========== PROFILE ========== */
.profile-main-container {
  width: 90vw;
  margin: 20px 50px 10px 50px;
  height: 400px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}